{{#[base] htmlWebpackPlugin}}
<div class="hstack">
    <input id="search" placeholder="Type to start search"></input>
    <button id="clear-search" class="minecraft-button">Clear</button>
</div>
<div id="trade-container"></div>
<div id="invisible-container" class="hidden"></div>
{{/[base]}}
